dist: xenial
language: python
python:
  - "3.7"

install:
  - pip install pytest==4.6.3
  - pip install packaging
  - pip install setuptools
  - pip install -e .
  - pip install -r requirements.txt
  - pip install pytest-travis-fold


before_script:
  - cd tests

script:
  - pytest

#script:
#  - python test_Calc.py